.container {
  display: flex;
}

.sidebar {
  width: 250px; /* يمكن ضبطها حسب الحاجة */
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* نمط Responsive */
@media (max-width: 600px) {
  .sidebar {
    display: none; /* إخفاء السايد بار على الشاشات الصغيرة إذا لزم الأمر */
  }
}
